@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Cherry+Bomb+One&family=Courier+Prime&family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Courgette&family=Sacramento&family=Special+Elite&display=swap');

body{
    background-color: #ece6e0;          /* Color fondo Web */
}
.bodyUbicacion{
    background-color: #a2a38a;          /* Color de Fondo Ubicación */
}


a{
    text-decoration: none;
}

.navbar-container{
    display: flex;
    flex-direction: column;
    background-color: #d8d0c5;          /* Encabezado */
    padding-top: 15px;
    padding-bottom: 10px;
}

.navbar-container-first-row{
    display: flex;
    flex-direction: row;                    /* Primera linea, logo y propaganda */
    justify-content: space-between;
    
}

.navbar-container-second-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;         /* Segunda Linea, botones y Carrito */
    margin-top: 1em;
    padding-left: 10px;
}



.Logo{
    width: 8em;
    margin-left: 1em;
}

.Disney_Star_logo{
    padding-right: 1em;
}

.Disney_Star_logo img{
    width: 16em;
    height: 3em;
}

.Buttons{
    display: flex;
    flex-direction: row;                        /* Botón de Ubicación y Dropdown de Categorías */
    justify-content: space-between;
    margin-right: 1em;
}

.navbar-buttons{
    background-color: #d8d0c5;
    border-style: solid;
    border-radius: 12px;
    border-color: #5c5955;                  /* Selector de clase para ambos botones (por separado) */
    color: #494642;
    font-family: 'Cherry Bomb One', cursive;
    margin-right: 2em;
}

.navbar-buttons:hover{
    background-color: #93946f;
    border-style: solid;
    border-radius: 12px;
    border-color: #d8d0c5;
    color: #565c55;
    font-family: 'Cherry Bomb One', cursive;
}

.navbar-container-second-row-left-side{
    padding-left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;                 /* Botones de la Izquierda, Oferta y Ayuda incluidos */
    width: 30%;
    align-items: center;
}

.navbar-container-second-row-left-side-links{
    display: flex;                                  /* Un Div con los dos links */
    flex-direction: row;
}

.navbar-container-second-row-left-side .navbar-links{
    text-decoration: none;
    color: black;                                   /* Botones de OFERTA y AYUDA */
    font-family: 'Courier Prime', monospace;
    margin-right: 2em;
}

.navbar-container-second-row-left-side .navbar-links:hover{
    color: #93946f;
    font-size: 16px;    
}

.navbar-link-right-side{
    text-decoration: none;
    color: black;
    font-family: 'Courier Prime', monospace;               /* Carrito */
    padding-right: 1em;
}

.navbar-link-right-side:hover{
    color: #93946f;
    transform: scale(1.2);
}

.row{
    padding-top: 2em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.card-body{
    display: flex;
    flex-direction: row;                                /* Icono de tarjetas */
    justify-content:center;
    align-items: center;
}

.Card-Link{
    color: #93946f;
}

.Card-Link:hover{
    color: #7d7e5f;
}

.card-title{
    font-size: 1em;
}

.Credit-Card-Main p{
    font-size: 0.7em;
}

.Card-Logo{
    color: #93946f;
    margin-right: 2em;
    transform: scale(2);
    margin-bottom: 0.5em;
}

/* OFERTAS */

.Ofertas-Slide h1{
    margin-right: 0.7em;
    color: #494642;
    margin-left: 1.3em;
}

.Ofertas-Slide a{
    text-decoration: none;
    color: #93946f;
    font-family: Arial, Helvetica, sans-serif;
}

.Ofertas-Slide{
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carousel-inner img{
    width: 12em;
}

.col-2 h1{
    font-size: 1.5em;
    color: #000;
}
.col-2 h2{
    font-size: 1em;
    color: #000;
    font-family: 'Special Elite', cursive;
}

.Adding-buttons{
    background-color: #d8d0c5;
    border-style: solid;
    border-radius: 100%;
    border-color: #5c5955;                          /* Añadir al carrito */
    color: #494642;
    font-family: 'Cherry Bomb One', cursive;
    margin-left: 10em;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
}

.Adding-buttons:hover{
    background-color: #93946f;
    border-style: solid;
    border-radius: 100%;
    border-color: #ece6e0;
    color: #565c55;
    font-family: 'Cherry Bomb One', cursive;
}

.Adding-buttons h3{
    align-self: center;
    font-size: 15px;
}

.box {
    width: 100%;
    height: 70px;
    background: linear-gradient(45deg, #7d7e5f, #8f9768);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}
  


.box-white {
    width: 100%;
    height: 250px;
    background: white;
    margin-bottom: 1em;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    display: flex;
    flex-direction: column;
}

.Propagandas{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Propagandas img{
    width: 8em;
}

.Propagandas h1{
    font-size: 1em;
    color: #000;
    font-family: 'Special Elite', cursive;
}

.Disney{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20em;
}

.Star{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20em;
}

.Envíos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20em;
}

.Suscribe-Button{
    background-color: #ffffff;
    border-style: solid;
    border-radius: 12px;
    border-color: #7d7e5f;                 
    color: #7d7e5f;
    font-family: 'Special Elite', cursive;
    margin-right: 2em;
    padding: 0.2em;
    margin-top: 0.5em;
}
    
.Suscribe-Button:hover{
    background-color: #7d7e5f;
    border-style: solid;
    border-radius: 12px;
    border-color: #ffffff;
    color: #ffffff;
    font-family: 'Special Elite', cursive;

}




.Precio h1{
    margin-top: 0.7em;
    font-size: 12px;
    font-family: 'Special Elite', cursive;
    color: rgb(255, 255, 255);
}

.Precio h2{
    padding: 0.5px;
    font-size: 20px;
    font-family: 'Special Elite', cursive;
    color: rgb(255, 255, 255);
}

.Precio{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 2em;
    height: 50px;
}

.Suscribe{
    margin-top: 0.8em;
    margin-left: 1em;
}

















/* PÁGINA WEB "UBICACIÓN" */

.Maps{
    padding: 20px;  
}
.container{
    display: grid;

}
h1{
    margin-top: 5px;
    padding: 5px;
    font-size: 25px;
    font-family: 'Special Elite', cursive;
    color: rgb(255, 255, 255);
}
.col-7 iframe{
    border-radius: 3em;
}
.col-5{

    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col-5 h1{
    margin-left: 35px;
    color: rgb(255, 255, 255);
}
.col-5 h2{
    margin-left: 1.2em;
    padding: 15px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.Ubicación h2{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.Ubicación h1{
    text-align: center;
    color: rgb(255, 255, 255);
}
.Container{
    display: grid;
    text-align: center;
}
.Container iframe{
    width: 100%;
    height: 300px; 
    padding: 10px;
    border-radius: 3em;
}
.Container p{
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
